
a{ text-decoration:none; cursor: pointer;}
.blueCircle, .redCircle, .greenCircle, .purpleCircle, .orangeCircle { cursor:pointer; }
a.startButton:not(.blinkBorder):hover { border: 2px solid black;}

.underline {text-decoration:underline;}
.hide{display:none;}
.show{display:block;}
strong { font-weight:bold;}

h1 {
	text-align:center;
	font-family: myFirstFont;
	font-size: 6em;
	margin-bottom: 0px;
	margin-top:300px;
	transition: margin-top 2s;
	-webkit-transition: margin-top 2s;
}

h1.started{ margin-top: 50px;}

#content {
  margin-left:auto;
  margin-right:auto;
  width:1280px;
  height:1000px;
  background-color: white;
  font-family: myFirstFont;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid black;
}

body{
	background-image:url(background1.jpg);
}

p.summary{ text-align:center; width: 900px; margin-left: auto; margin-right: auto;}

a.startButton {  padding: 10px 30px; font-size:2em; color:#000000; display:-webkit-box;}
a.startButton:not(.blinkBorder) { border: 1px solid black; }
a.startButton .startS.changeColor{color: #0000FF;}
a.startButton .startT.changeColor{color: #FF0000;}
a.startButton .startA.changeColor{color: #00FF00;}
a.startButton .startR.changeColor{color: #FF00FF;}
a.startButton .startTT.changeColor{color: #FFCC00;}

div.start{ margin:50px auto; width: 150px; }
.blinkBorder{ border: 2px solid white; }


.clickButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.testCase{
	border: 1px solid black;
    padding: 10px 42px;
	color:black;
}

.testCase.case1:hover{ border:1px solid #0000FF; color: #0000FF;}
.testCase.case2:hover{ border:1px solid #FF0000; color: #FF0000; }
.testCase.case3:hover{ border:1px solid #00FF00; color: #00FF00; }
.testCase.case4:hover{ border:1px solid #FF00FF; color: #FF00FF; }
.testCase.case5:hover{ border:1px solid #FFCC00; color: #FFCC00; }



.testCases{
	width: 900px; margin-left: auto; margin-right: auto;
}
.folders { width: 900px; margin-left: auto; margin-right: auto; margin-top: 30px;}
.folders a img { width: 60px; height: auto;}
.folders a:focus {outline:none;}

.folders > div {width:175px; display: inline-block; position:relative;}
.folders > div a img { padding-left: 55px;}

.folders > div > a {display:none;}
.folders a.selected,.folders > div > div.selected {display: block;}
.folders > div > div {display: none;}

.folders > div a:hover + div { display: block !important;}
.blueCircle { position:absolute; width: 10px; height: 10px; border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;  border: 4px solid #0000FF; top: 17px; left: 77px;}
.redCircle { position:absolute; width: 10px; height: 10px; border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;  border: 4px solid #FF0000; top: 17px; left: 77px;}
.greenCircle { position:absolute; width: 10px; height: 10px; border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;  border: 4px solid #00FF00; top: 17px; left: 77px;}
.purpleCircle { position:absolute; width: 10px; height: 10px; border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;  border: 4px solid #FF00FF; top: 17px; left: 77px;}
.orangeCircle { position:absolute; width: 10px; height: 10px; border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;  border: 4px solid #FFCC00; top: 17px; left: 77px;}

.doc1line1{ height: 47px; border-right: 2px solid #0000FF; position: absolute; top: 35px; left: 85px;}
.doc1line2 { width:724px; border-bottom: 2px solid #0000FF; position: absolute; top:80px; left: 85px;}
.doc1line3 { height: 47px; border-right: 2px solid #0000FF; position: absolute; top:82px; left: 85px;}
.doc1line4 { height: 47px; border-right: 2px solid #0000FF; position: absolute; top:82px; left: 807px;}
.doc1Image { width: 230px; height: 300px; position: absolute; top: 129px; padding: 2px; border: 2px solid #0000FF; }
.doc1Image img { padding-left:2px;} 
.doc1Desc { width: 400px; height: 300px; position: absolute; top: 129px; left: 493px; padding: 2px; border: 2px solid #0000FF;}
.blueCircle.c1 {  border: 2px solid #0000FF; top: 61px; left: 169px;}
.blueCircle.c2 {   border: 2px solid #0000FF; top: 140px; left: 41px;}
.blueCircle.c3 {  border: 2px solid #0000FF; top: 116px; left: 152px;}
.blueCircle.clicked { border: 3px solid white;}


.doc2line1{ height: 47px; border-right: 2px solid #FF0000; position: absolute; top: 35px; left: 85px;}
.doc2line2 { width:724px; border-bottom: 2px solid #FF0000; position: absolute; top:80px; left: -95px;}
.doc2line3 { height: 47px; border-right: 2px solid #FF0000; position: absolute; top:82px; left: -95px;}
.doc2line4 { height: 47px; border-right: 2px solid #FF0000; position: absolute; top:82px; left: 627px;}
.doc2Image { width: 230px; height: 300px; position: absolute; top: 129px; padding: 2px; border: 2px solid #FF0000; right: 117px;}
.doc2Image img { width:230px; height:300px;} 
.doc2Desc { width: 400px; height: 300px; position: absolute; top: 129px; left: 311px; padding: 2px; border: 2px solid #FF0000;}
.redCircle.c1 {  border: 2px solid #FF0000; top: 94px; left: 117px;}
.redCircle.c2 {   border: 2px solid #FF0000; top: 140px; left: 41px;}
.redCircle.c3 {  border: 2px solid #FF0000; top: 164px; left: 91px;}
.redCircle.clicked { border: 3px solid white;}

.doc3line1{ height: 47px; border-right: 2px solid #00FF00; position: absolute; top: 35px; left: 85px;}
.doc3line2 { width:724px; border-bottom: 2px solid #00FF00; position: absolute; top:80px; left: -276px;}
.doc3line3 { height: 47px; border-right: 2px solid #00FF00; position: absolute; top:82px; left: -276px;}
.doc3line4 { height: 47px; border-right: 2px solid #00FF00; position: absolute; top:82px; left: 446px;}
.doc3Image { width: 230px; height: 300px; position: absolute; top: 129px; padding: 2px; border: 2px solid #00FF00; right: 298px;}
.doc3Image img { width:230px; height:300px;} 
.doc3Desc { width: 400px; height: 300px; position: absolute; top: 129px; left: 133px; padding: 2px; border: 2px solid #00FF00;}

.doc4line1{ height: 47px; border-right: 2px solid #FF00FF; position: absolute; top: 35px; left: 85px;}
.doc4line2 { width:724px; border-bottom: 2px solid #FF00FF; position: absolute; top:80px; left: -456px;}
.doc4line3 { height: 47px; border-right: 2px solid #FF00FF; position: absolute; top:82px; left: -456px;}
.doc4line4 { height: 47px; border-right: 2px solid #FF00FF; position: absolute; top:82px; left: 266px;}
.doc4Image { width: 230px; height: 300px; position: absolute; top: 129px; padding: 2px; border: 2px solid #FF00FF; right: 477px;}
.doc4Image img { width:230px; height:300px;} 
.doc4Desc { width: 400px; height: 300px; position: absolute; top: 129px; left: -47px; padding: 2px; border: 2px solid #FF00FF;}
.purpleCircle.c1 {  border: 2px solid #FF00FF; top: 65px; left: 180px;}
.purpleCircle.c2 {   border: 2px solid #FF00FF; top: 88px; left: 170px;}
.purpleCircle.c3 {  border: 2px solid #FF00FF; top: 199px; left: 16px;}
.purpleCircle.clicked { border: 3px solid white;}

.doc5line1 { height: 47px; border-right: 2px solid #FFCC00; position: absolute; top: 35px; left: 85px;}
.doc5line2 { width:724px; border-bottom: 2px solid #FFCC00; position: absolute; top:80px; left: -637px;}
.doc5line3 { height: 47px; border-right: 2px solid #FFCC00; position: absolute; top:82px; left: -637px;}
.doc5line4 { height: 47px; border-right: 2px solid #FFCC00; position: absolute; top:82px; left: 85px;}
.doc5Image { width: 230px; height: 300px; position: absolute; top: 129px; padding: 2px; border: 2px solid #FFCC00; right: 659px;}
.doc5Image img { width:230px; height:300px;} 
.doc5Desc { width: 400px; height: 300px; position: absolute; top: 129px; left: -229px; padding: 2px; border: 2px solid #FFCC00;}
.orangeCircle.c1 {  border: 2px solid #FFCC00; top: 65px; left: 130px;}
.orangeCircle.c2 {   border: 2px solid #FFCC00; top: 175px; left: 190px;}
.orangeCircle.c3 {  border: 2px solid #FFCC00; top: 199px; left: 100px;}

@font-face {
    font-family: myFirstFont;
    src: url(CODE_Bold.otf);
}
			
			
			
			
			